@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
}

<div class="fullpage-loader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
<!-- Header Start -->
<header class="pb-md-4 pb-0">
    <div class="header-top">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-xxl-3 d-xxl-block d-none">
                    <div class="top-left-header">
                        <i class="iconly-Location icli text-white"></i>
                        <span class="text-white">تهران - برج میلاد</span>
                    </div>
                </div>

                <div class="col-xxl-6 col-lg-9 d-lg-block d-none">
                    <div class="header-offer">
                        <div class="notification-slider">
                            <div>
                                <div class="timer-notification">
                                    <h6><strong class="me-1">به فست کارت خوش آمدید !</strong>خرید لذت بخشی را آرزو میکنیم<strong class="ms-1">کد تخفیف جدید: Fast024</strong></h6>
                                </div>
                            </div>

                            <div>
                                <div class="timer-notification">
                                    <h6>
                                        پیشنهادات ویژه را فراموش نکنید !
                                        <a href="shop-left-sidebar.html" class="text-white">خرید آنلاین</a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <ul class="about-list right-nav-about">
                        <li class="right-nav-list">
                            <div class="dropdown theme-form-select">
                                <button class="btn dropdown-toggle" type="button" id="select-language"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="~/assets/images/country/united-states.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                    <span>انگلیسی آمریکایی</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="select-language">
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0)" id="english">
                                            <img src="~/assets/images/country/united-kingdom.png"
                                                 class="img-fluid blur-up lazyload" alt="">
                                            <span>انگلیسی</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0)" id="france">
                                            <img src="~/assets/images/country/germany.png"
                                                 class="img-fluid blur-up lazyload" alt="">
                                            <span>آلمانی</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0)" id="chinese">
                                            <img src="~/assets/images/country/turkish.png"
                                                 class="img-fluid blur-up lazyload" alt="">
                                            <span>ترکی</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="right-nav-list">
                            <div class="dropdown theme-form-select">
                                <button class="btn dropdown-toggle" type="button" id="select-dollar"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>دلار</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end sm-dropdown-menu"
                                    aria-labelledby="select-dollar">
                                    <li>
                                        <a class="dropdown-item" id="aud" href="javascript:void(0)">دلار استرالیا</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" id="eur" href="javascript:void(0)">یورو</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" id="cny" href="javascript:void(0)">تومان</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="top-nav top-header sticky-header">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="navbar-top">
                        <button class="navbar-toggler d-xl-none d-inline navbar-menu-button" type="button"
                                data-bs-toggle="offcanvas" data-bs-target="#primaryMenu">
                            <span class="navbar-toggler-icon">
                                <i class="fa-solid fa-bars"></i>
                            </span>
                        </button>
                        <a href="index.html" class="web-logo nav-logo">
                            <img src="~/assets/images/logo/1.png" class="img-fluid blur-up lazyload" alt="">
                        </a>

                        <div class="middle-box">
                            <div class="location-box">
                                <button class="btn location-button" data-bs-toggle="modal"
                                        data-bs-target="#locationModal">
                                    <span class="location-arrow">
                                        <i data-feather="map-pin"></i>
                                    </span>
                                    <span class="locat-name">مکان شما</span>
                                    <i class="fa-solid fa-angle-down"></i>
                                </button>
                            </div>

                            <div class="search-box">
                                <div class="input-group">
                                    <input type="search" class="form-control" placeholder="جستجو در فست کارت ..."
                                           aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <button class="btn" type="button" id="button-addon2">
                                        <i data-feather="search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="rightside-box">
                            <div class="search-full">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i data-feather="search" class="font-light"></i>
                                    </span>
                                    <input type="text" class="form-control search-type" placeholder="جستجو ...">
                                    <span class="input-group-text close-search">
                                        <i data-feather="x" class="font-light"></i>
                                    </span>
                                </div>
                            </div>
                            <ul class="right-side-menu">
                                <li class="right-side">
                                    <div class="delivery-login-box">
                                        <div class="delivery-icon">
                                            <div class="search-box">
                                                <i data-feather="search"></i>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="right-side">
                                    <a href="contact-us.html" class="delivery-login-box">
                                        <div class="delivery-icon">
                                            <i data-feather="phone-call"></i>
                                        </div>
                                        <div class="delivery-detail">
                                            <h6>پشیتبانی 24 ساعته</h6>
                                            <h5>0936000000</h5>
                                        </div>
                                    </a>
                                </li>
                                <li class="right-side">
                                    <a href="wishlist.html" class="btn p-0 position-relative header-wishlist">
                                        <i data-feather="heart"></i>
                                    </a>
                                </li>
                                <li class="right-side">
                                    <div class="onhover-dropdown header-badge">
                                        <button type="button" class="btn p-0 position-relative header-wishlist">
                                            <i data-feather="shopping-cart"></i>
                                            <span class="position-absolute top-0 start-100 translate-middle badge">
                                                2
                                                <span class="visually-hidden">پیام های خوانده نشده</span>
                                            </span>
                                        </button>

                                        <div class="onhover-div">
                                            <ul class="cart-list">
                                                <li class="product-box-contain">
                                                    <div class="drop-cart">
                                                        <a href="product-left.html" class="drop-image">
                                                            <img src="~/assets/images/vegetable/product/1.png"
                                                                 class="blur-up lazyload" alt="">
                                                        </a>

                                                        <div class="drop-contain">
                                                            <a href="product-left.html">
                                                                <h5>شکلات قهوه ای فرانسوی بسته بندی 2 عددی</h5>
                                                            </a>
                                                            <h6><span>1 x</span> 80.000 تومان</h6>
                                                            <button class="close-button close_button">
                                                                <i class="fa-solid fa-xmark"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="product-box-contain">
                                                    <div class="drop-cart">
                                                        <a href="product-left.html" class="drop-image">
                                                            <img src="~/assets/images/vegetable/product/2.png"
                                                                 class="blur-up lazyload" alt="">
                                                        </a>

                                                        <div class="drop-contain">
                                                            <a href="product-left.html">
                                                                <h5>بیسکویت کره بادام زمینی پرمیوم کره 600 گرم</h5>
                                                            </a>
                                                            <h6><span>1 x</span> 25.000 تومان</h6>
                                                            <button class="close-button close_button">
                                                                <i class="fa-solid fa-xmark"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>

                                            <div class="price-box">
                                                <h5>جمع کل :</h5>
                                                <h4 class="theme-color fw-bold">103.000 تومان</h4>
                                            </div>

                                            <div class="button-group">
                                                <a href="cart.html" class="btn btn-sm cart-button">نمایش سبد خرید</a>
                                                <a href="checkout.html" class="btn btn-sm cart-button theme-bg-color
                                                    text-white">پرداخت</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="right-side onhover-dropdown">
                                    <div class="delivery-login-box">
                                        <div class="delivery-icon">
                                            <i data-feather="user"></i>
                                        </div>
                                        <div class="delivery-detail">
                                            <h6>سلام,</h6>
                                            <h5>حساب کاربری من</h5>
                                        </div>
                                    </div>

                                    <div class="onhover-div onhover-div-login">
                                        <ul class="user-box-name">
                                            <li class="product-box-contain">
                                                <i></i>
                                                <a asp-page="Auth/Login">ورود</a>
                                            </li>

                                            <li class="product-box-contain">
                                                <a asp-page="Auth/Register">ثبت نام</a>
                                            </li>

                                            <li class="product-box-contain">
                                                <a href="forgot.html">فراموشی رمز عبور</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="header-nav">
                    <div class="header-nav-left">
                        <button class="dropdown-category">
                            <i data-feather="align-left"></i>
                            <span>دسته بندی ها</span>
                        </button>

                        <div class="category-dropdown">
                            <div class="category-title">
                                <h5>دسته بندی</h5>
                                <button type="button" class="btn p-0 close-button text-content">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </div>

                            <ul class="category-list">
                                <li class="onhover-category-list">
                                    <a href="javascript:void(0)" class="category-name">
                                        <img src="~/assets/svg/1/vegetable.svg" alt="">
                                        <h6>میوه جنوب</h6>
                                        <i class="fa-solid fa-angle-left"></i>
                                    </a>

                                    <div class="onhover-category-box">
                                        <div class="list-1">
                                            <div class="category-title-box">
                                                <h5>سبزیجات ارگانیک</h5>
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">سیب زمینی و گوجه فرنگی</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">خیار و فلفل دلمه ای</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">سبزیجات برگ دار</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">ریشه سبزیجات</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">لوبیا و بامیه</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">کلم و گل کلم</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">کدو و چوب طبل</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">سبزیجات</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="list-2">
                                            <div class="category-title-box">
                                                <h5>میوه تازه</h5>
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">موز و پاپایا</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">کیوی، مرکبات</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">سیب و انار</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">میوه های فصل</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">انبه</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">سبدهای میوه</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="onhover-category-list">
                                    <a href="javascript:void(0)" class="category-name">
                                        <img src="~/assets/svg/1/cup.svg" alt="">
                                        <h6>نوشیدنی ها</h6>
                                        <i class="fa-solid fa-angle-left"></i>
                                    </a>

                                    <div class="onhover-category-box w-100">
                                        <div class="list-1">
                                            <div class="category-title-box">
                                                <h5>انرژی و نوشابه</h5>
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">مخلوط سودا و کوکتل</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">مخلوط سودا و کوکتل</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">ورزش و نوشیدنی های انرژی زا</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">نوشیدنی های غیر الکلی</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">آب بسته بندی شده</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">آب چشمه</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">آب طعم دار</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="onhover-category-list">
                                    <a href="javascript:void(0)" class="category-name">
                                        <img src="~/assets/svg/1/meats.svg" alt="">
                                        <h6>گوشت و غذاهای دریایی</h6>
                                        <i class="fa-solid fa-angle-left"></i>
                                    </a>

                                    <div class="onhover-category-box">
                                        <div class="list-1">
                                            <div class="category-title-box">
                                                <h5>گوشت</h5>
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">گوشت تازه</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">گوشت منجمد</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">گوشت ترشی شده</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">گوشت تازه و منجمد</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="list-2">
                                            <div class="category-title-box">
                                                <h5>غذای دریایی</h5>
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">ماهی آب شیرین</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">ماهی خشک</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">ماهی و غذاهای دریایی منجمد</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">ماهی آب دریایی</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">غذاهای دریایی کنسرو شده</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">میگو و میگو</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">سایر غذاهای دریایی</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="onhover-category-list">
                                    <a href="javascript:void(0)" class="category-name">
                                        <img src="~/assets/svg/1/breakfast.svg" alt="">
                                        <h6>صبحانه و لبنیات</h6>
                                        <i class="fa-solid fa-angle-left"></i>
                                    </a>

                                    <div class="onhover-category-box">
                                        <div class="list-1">
                                            <div class="category-title-box">
                                                <h5>غلات صبحانه</h5>
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">جو و فرنی</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">غلات بچه گانه</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">موسلی</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">پولک</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">گرانولا و میله غلات</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">نودل فوری</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">پاستا و ماکارونی</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">تنقلات یخ زده غیر گیاهی</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="list-2">
                                            <div class="category-title-box">
                                                <h5>لبنیات</h5>
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">شیر</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">کشک</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">پنیر، توفو و کرم</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">کره و مارگارین</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">شیر خشک غلیظ شده</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">دوغ و لاسی</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">ماست و شریکند</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">طعم دار، شیر سویا</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="onhover-category-list">
                                    <a href="javascript:void(0)" class="category-name">
                                        <img src="~/assets/svg/1/frozen.svg" alt="">
                                        <h6>غذای یخ زده</h6>
                                        <i class="fa-solid fa-angle-left"></i>
                                    </a>

                                    <div class="onhover-category-box w-100">
                                        <div class="list-1">
                                            <div class="category-title-box">
                                                <h5>نودل و پاستا</h5>
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">نودل فوری</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">نودل هاکا</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">نودل فنجانی</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">ورمیشل</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">پاستا فوری</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="onhover-category-list">
                                    <a href="javascript:void(0)" class="category-name">
                                        <img src="~/assets/svg/1/biscuit.svg" alt="">
                                        <h6>بیسکویت و تنقلات</h6>
                                        <i class="fa-solid fa-angle-left"></i>
                                    </a>

                                    <div class="onhover-category-box">
                                        <div class="list-1">
                                            <div class="category-title-box">
                                                <h5>بیسکویت و کلوچه</h5>
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">بیسکویت‌های شور</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">ماری، سلامت، گوارش</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">بیسکویت خامه‌ای و ویفر</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">بیسکویت‌های گلوکز و شیر</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">کوکی‌ها</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="list-2">
                                            <div class="category-title-box">
                                                <h5>میان وعده های نانوایی</h5>
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">چوب نان و لواش</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">نان پنیر و سیر</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">پفک، پاتی، ساندویچ</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">خردهای نان و کروتون</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="onhover-category-list">
                                    <a href="javascript:void(0)" class="category-name">
                                        <img src="~/assets/svg/1/grocery.svg" alt="">
                                        <h6>مواد غذایی</h6>
                                        <i class="fa-solid fa-angle-left"></i>
                                    </a>

                                    <div class="onhover-category-box">
                                        <div class="list-1">
                                            <div class="category-title-box">
                                                <h5>خواربار</h5>
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">لیمو، زنجبیل و سیر</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">گیاهان هندی و عجیب و غریب</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">سبزیجات ارگانیک</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">میوه‌های ارگانیک</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="list-2">
                                            <div class="category-title-box">
                                                <h5>منگنه های ارگانیک</h5>
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">میوه‌های خشک ارگانیک</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">دال و پالس ارگانیک</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">ارن و آرد ارگانیک</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">شکر ارگانیک، نعناع</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">ماسالا و ادویه ارگانیک</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">برنج ارگانیک، برنج دیگر</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">آردهای ارگانیک</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">روغن خوراکی ارگانیک، قیمه</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="header-nav-middle">
                        <div class="main-nav navbar navbar-expand-xl navbar-light navbar-sticky">
                            <div class="offcanvas offcanvas-collapse order-xl-2" id="primaryMenu">
                                <div class="offcanvas-header navbar-shadow">
                                    <h5>منو</h5>
                                    <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas"
                                            aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <ul class="navbar-nav">
                                        
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                               data-bs-toggle="dropdown">محصولات</a>

                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="product/products">لیست محصولات</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="product/add">اضافه کردن محصولات</a>
                                                </li>
                                               
                                            </ul>
                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                               data-bs-toggle="dropdown">نقش کاربری</a>

                                            <ul class="dropdown-menu ">
                                                <li>
                                                    <a class="dropdown-item" href="role/add">ساخت نقش کاربری</a>
                                                </li>
                                                <li>
                                                    <a href="role/roles" class="dropdown-item">لیست نقش های کاربری</a>
                                                </li>
                                              
                                                        <li>
                                                    <a class="dropdown-item" href="permission/add">ثبت دسترسی ها</a>
                                                        </li>

                                                        <li>
                                                    <a class="dropdown-item" href="permission/permissions">لیست دسترسی ها</a>
                                                        </li>

                                                      
                                              
                                               

                                                <li>
                                        
                                            </ul>
                                        </li>


                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="header-nav-right">
                        <button class="btn deal-button" data-bs-toggle="modal" data-bs-target="#deal-box">
                            <i data-feather="zap"></i>
                            <span>پرفروش ترین ها</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->
<!-- mobile fix menu start -->
<div class="mobile-menu d-md-none d-block mobile-cart">
    <ul>
        <li class="active">
            <a href="index.html">
                <i class="iconly-Home icli"></i>
                <span>خانه</span>
            </a>
        </li>

        <li class="mobile-category">
            <a href="javascript:void(0)">
                <i class="iconly-Category icli js-link"></i>
                <span>دسته بندی</span>
            </a>
        </li>

        <li>
            <a href="search.html" class="search-box">
                <i class="iconly-Search icli"></i>
                <span>جستجو</span>
            </a>
        </li>

        <li>
            <a href="wishlist.html" class="notifi-wishlist">
                <i class="iconly-Heart icli"></i>
                <span>علاقه‌مندی‌ها</span>
            </a>
        </li>

        <li>
            <a href="cart.html">
                <i class="iconly-Bag-2 icli fly-cate"></i>
                <span>سبد خرید</span>
            </a>
        </li>
    </ul>
</div>
<!-- mobile fix menu end -->
